$toast-bkg-color: #333333;
$toast-txt-color: #ffffff;

$info-background: rgb(143, 204, 223);
$primary-background: rgb(143, 155, 223);
$success-background: rgb(106, 182, 106);
$warn-background: darkorange;
$danger-background: rgb(204, 79, 79);